:root, [data-theme="dark"] {
    --background-primary: #303030;
    --background-dark: #222222;
    --background-accent: #282828;
    --text-color: #c0c0c0;
    --text-faded: #8d8d8d;
}

[data-theme="light"] {
    --background-primary: #d3d3d3;
    --background-dark: #969696;
    --background-accent: #b9b9b9;
    --text-color: #363636;
    --text-faded: #272727;
}

body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    --link-color: #3641dd;

    color: var(--text-color);
}

a {
    color: var(--link-color)
}

h1, #layout-main h2 {
    text-align: center;
}

p {
    font-size: 1.125em;
}

body {
    background-color: var(--background-primary);
    margin: 0;
}

body > * {
    padding: 8px;
    animation: 1s 1 forwards fade-in;
}

header {
    background-color: var(--background-dark);
}

header button {
    background-color: transparent;
    color: var(--text-color);
    border-style: none;
    margin: 5px;
}

header button:hover {
    background-color: var(--background-accent);
}

header table {
    display: inline-table;
}

header table p {
    margin: 0 1em;
    text-align: center;
}

header table td:nth-child(2) {
    color: var(--text-faded);
    font-size: 0.875em;
}

#topBar {
    display: flex;
    flex-direction: row-reverse;
}

header h2 {
    font-size: 1.2rem;
    margin: 0;
}

nav {
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

nav * {
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0 10px;
}

#navExpand {
    display: none;
}

label[for="navExpand"] {
    display: block;
    max-height: 0;
}

#navExpand:not(:checked) + * label[for="navExpand"] {
    /* animation: 1s linear 1 reverse expand; */
    max-height: 0;
    transition: max-height 0.75s ease-out;
}

#navExpand:checked + * label[for="navExpand"], #navExpand:hover + * label[for="navExpand"] {
    /* animation: 0.75s normal expand; */
    max-height: 16em;
    transition: max-height 0.75s ease-out;
}

nav > * {
    flex: 1 1 auto;
    display: block;
}

nav > div:hover {
    background-color: var(--background-accent);
}

nav > * li:hover {
    background-color: var(--background-primary);
}

#layout-body {
    margin: 2rem;
}

#layout-body table {
    table-layout: fixed;
    width: 90%;
    margin: 10px auto;
    border-collapse: collapse;
    border-top: 1px solid #999999;
    border-bottom: 1px solid #999999;
}

#layout-body th, #layout-body td {
    vertical-align: center;
    padding: 0.3em;
}

#layout-body tr :nth-child(1) {
    text-align: center;
    width: 8em;
}

#layout-body tr :nth-child(2) {
    text-align: left;
}

#layout-body tbody tr:nth-child(odd) {
    background-color: var(--background-accent);
}

footer {
    background-color: var(--background-dark);
}

@keyframes expand {
    from {
        height: 0;
    }

    to {
        height: auto;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}