#layout-body {
    display: grid;
    gap: 2rem;
    margin: 2rem;
}

h1 {
    grid-column: 1 / 3;
    grid-row: 1;
}

#layout-intro {
    grid-column: 1 / 3;
    grid-row: 2;
}

#layout-education {
    grid-column: 1;
    grid-row: 3;
}

#layout-skills {
    grid-column: 2;
    grid-row: 3;
}

/*#layout-main {
    display: flex;
    flex-direction: row-reverse;
}

nav {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    min-width: 12em;
}

nav * {
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0 10px;
}

#navExpand {
    display: none;
}

label[for="navExpand"] {
    display: block;
    max-height: 0;
}

#navExpand:not(:checked) + * label[for="navExpand"] {
    max-height: 0;
}

#navExpand:checked + * label[for="navExpand"] {
    max-height: 50em;
}

nav > * {
    flex: 1 1 auto;
    display: block;
}

nav > div:hover {
    background-color: var(--background-accent);
}

nav > * li:hover {
    background-color: var(--background-primary);
}*/